<!DOCTYPE html>
<html th:replace="~{common/layout :: layout(~{::title}, ~{::header}, ~{::section})}" lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="@{'Error: ' + ${statusCode}}"></title>
</head>
<body>
<div class="container px-10">
    <header th:text="${statusCode}"></header>

    <section>
        <div class="text-center">
            <h3 class="mb-4" th:text="${errorMessage}"></h3>
            <a href="/" class="btn btn-primary">Go to Home</a>
        </div>

        <div class="my-4">
            <h4>Exception Details</h4>
            <pre th:text="${exception.message}" class="printDisplayBox"
                 style="white-space: pre-wrap;word-break: normal;width: 100%;display: -webkit-inline-box !important;">
            </pre>

        </div>

    </section>
</div>
</body>
</html>
