<!-- Define a fragment that renders one row for a passenger -->
<tr th:fragment="report_flight_class_row(passenger)">
    <th scope="row" th:text="${#numbers.formatInteger(passenger.seatRow, 3)}">Seat No</th>
    <td th:text="${passenger.flightClass}">Travel Class</td>
    <td th:text="${passenger.fullName}">Passenger Name</td>
    <td th:text="${passenger.formatPreorderedMeals() ?: '-'}"></td>
    <td th:text="${passenger.formatPreorderedBeverages() ?: '-'}"></td>
    <td th:text="${passenger.formatMealsToBeServed() ?: '-'}"></td>
    <td th:text="${passenger.formatBeveragesToBeServed() ?: '-'}"></td>
</tr>
