<!DOCTYPE html>
<html th:replace="~{common/layout :: layout(~{::title}, ~{::header}, ~{::section})}" lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Passengers</title>
</head>
<body>

<header>Passengers</header>

<section>
    <div class="row">
        <div class="col">
            <a href="/flight" class="btn btn-primary my-2">< All Flights</a>
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Ticket Number</th>
            <th scope="col">Flight ID</th>
            <th scope="col">Full Name</th>
            <th scope="col">Flight Class</th>
            <th scope="col">Seat Row</th>
            <th scope="col">Seat Letter</th>
            <th scope="col">Preordered Meals</th>
            <th scope="col">Preordered Beverages</th>
            <th scope="col">Credit Card Number</th>
            <th scope="col">Actions</th>
        </thead>
        <tbody>
        <tr th:each="passenger : ${passengers}">

            <td th:text="${passenger.ticketNo}">Ticket Number</td>
            <td th:text="${passenger.flightId}">Flight ID</td>
            <td th:text="${passenger.fullName}">Full Name</td>
            <td th:text="${passenger.flightClass}">Flight Class</td>
            <td th:text="${passenger.seatRow}">Seat Row</td>
            <td th:text="${passenger.seatLetter}">Seat Letter</td>

            <td th:text="${passenger.formatPreorderedMeals() ?: '-'}"></td>
            <td th:text="${passenger.formatPreorderedBeverages() ?: '-'}"></td>
            <td th:text="${passenger.creditCardNo}">Credit Card Number</td>

            <td class="text-nowrap">
                <a th:href="@{'/passenger/' + ${passenger.ticketNo} + '/edit'}" class="btn btn-primary">Edit</a>
            </td>
        </tr>
    </table>

</section>
</body>
</html>
