<!DOCTYPE html>
<html th:replace="~{common/layout :: layout(~{::title}, ~{::header}, ~{::section})}" lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Flights Management</title>
</head>
<body>
<header>Flights</header>

<section>
    <div class="row">
        <div class="col">
            <table class="table align-middle">
                <thead>
                <tr>
                    <th scope="col">Flight Number</th>
                    <th scope="col">Departure Date</th>
                    <th scope="col">Departure Time</th>
                    <th scope="col">Check In Time</th>
                    <th scope="col">Arrival Date</th>
                    <th scope="col">Arrival Time</th>
                    <th scope="col">From Airport Code</th>
                    <th scope="col">To Airport Code</th>
                    <th scope="col">Aircraft</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="flight : ${flights}">
                    <th scope="row" th:text="${flight.no}">Flight Number</th>
                    <th scope="row" th:text="${flight.departureDate}">Departure Date</th>
                    <td th:text="${flight.departureTime}">Departure Time</td>
                    <td th:text="${flight.checkInTime}">Check In Time</td>
                    <td th:text="${flight.arrivalDate}">Arrival Date</td>
                    <td th:text="${flight.arrivalTime}">Arrival Time</td>
                    <td th:text="${flight.fromAirportCode}">From Airport Code</td>
                    <td th:text="${flight.toAirportCode}">To Airport Code</td>
                    <td th:text="${flight.airlineCode} + '-' + ${flight.aircraftNumber}">Aircraft</td>
                    <td>
                        <a th:href="@{'/flight/' + ${flight.id} + '/passenger'}" class="btn btn-sm btn-primary my-1">Passengers
                            ></a>
                        <a th:href="@{'/flight/' + ${flight.id} + '/catering/report'}" class="btn btn-sm btn-primary my-1">Catering
                            Report ></a>
                        <a th:href="@{'/flight/' + ${flight.id} + '/meals/load'}" class="btn btn-sm btn-primary my-1">Load
                            Meals ></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
</body>
</html>
